<footer>
    <div class="footer-title footer-font">
        kakao
    </div>
    <div class="footer-text footer-font">
        <ul>
            <li>
                이용약관
            </li>
            <li>
                사업자정보
            </li>
        </ul>
    </div>
</footer>
