<header>
    <section class="header-section">
        <div class="header-menu">
            <i class="fa fa-bars"></i>
        </div>
        <div class="header-title">
            MAKERS <span>with kakao</span>
        </div>
    </section>
</header>