<li option-id="{{id}}">
    <div class="career-name">옵션 선택:<span class="career-name-select">{{option}}</span></div>
    <div class="career-price">
        <div class="career-price-amount">
            <i class="mk-btn amount-minus fa fa-minus"></i>
            <div class="amount-count">{{count}}</div>
            <i class="mk-btn amount-plus fa fa-plus"></i>
        </div>
        <div class="career-price-cost">
            <span class="cost-times">{{price}}원</span>
            <i class="mk-btn cost-cancel fa fa-times"></i>
        </div>
    </div>
</li>