<div class="sub-footer">
    <section>
        <div class="sub-footer-like">
            <i class="fa fa-heart"></i>
            <div>좋아요</div>
        </div>
        <div class="sub-footer-order">
            <div>주문하기</div>
        </div>
    </section>
</div>