<div class="sub-order-layer">
    <div class="sub-order-text">
        <div class="sub-order-option">옵션 선택<i class="fa fa-angle-down"></i></div>
        <div class="sub-order-cost">
            <div>총 상품 금액 <span>0원</span>
            </div>
        </div>
        <ul class="sub-order-btn">
            <li class="sub-order-btn-cancel" style="background-color: #cccccc;margin-right: 4px">취소</li>
            <li style="background-color: #f9524a">결제하기</li>
        </ul>
    </div>
</div>