<div class="sub-order-layer">
    <div class="sub-order-text">
        <div class="sub-order-option">옵션 선택<i class="fa fa-angle-down"></i></div>
        <div class="sub-order-cost">
            <ul class="sub-order-career">
                <li>
                    <div class="career-name">옵션 선택:<span class="career-name-select">아쿠아블루레몬</span></div>
                    <div class="career-price">
                        <div class="career-price-amount">
                            <i class="amount-minus fa fa-minus"></i>
                            <div class="amount-count">1</div>
                            <i class="amount-plus fa fa-plus"></i>
                        </div>
                        <div class="career-price-cost">
                            <span class="cost-times">59,000원</span>
                            <i class="cost-cancel fa fa-times"></i>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="career-total">총 상품 금액 <span class="career-total-price">0원</span>
            </div>
        </div>
        <ul class="sub-order-btn">
            <li class="sub-order-btn-cancel" style="background-color: #cccccc;margin-right: 4px">취소</li>
            <li style="background-color: #f9524a">결제하기</li>
        </ul>
    </div>
    <ul class="sub-order-option-list">
    </ul>
</div>