<div class="sub-order-layer">
    <div class="sub-order-text">
    {{#each list}}
        <div class="sub-order-option">{{name}}<i class="fa fa-angle-down"></i></div>
    {{/each}}
        <div class="sub-order-cost">
            <ul class="sub-order-career">
            </ul>
            <div class="career-total">총 상품 금액 <span class="career-total-price">0원</span>
            </div>
        </div>
        <ul class="sub-order-btn">
            <li class="sub-order-btn-cancel" style="background-color: #cccccc;margin-right: 4px">취소</li>
            <li style="background-color: #f9524a">결제하기</li>
        </ul>
    </div>
    {{#each list}}
        <ul class="sub-order-option-list">
        {{#each options}}
            <li price="{{price}}">{{name}}</li>
        {{/each}}
        </ul>
    {{/each}}
</div>