<div class="admin-menu">
    <div class="hta-logo">MK Admin</div>
    <nav class="hta-menu-list">
        <div class="hta-menu-group{{#if makers-list}} active
            {{/if}}" link="makers-list">제품 관리
        </div>
    </nav>
</div>
