<div class="sub-option-category-list">
    {{no}}. 카테고리 이름 : <input type="text" value="">
    <div class="sub-option-category-list-button">
        <div class="category-list-add">
            <button>
                <i class="fa fa-plus"></i>
            </button>
            옵션 추가
        </div>
        <div class="category-list-del">
            <button>
                <i class="fa fa-minus"></i>
            </button>
            옵션 삭제
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>이름</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><input type="text" value="세부옵션"></td>
                <td><input type="number" value="0"></td>
            </tr>
        </tbody>
    </table>
</div>