@import 'common.less';

.mk-bt-info {
  height: 34px;
  border-bottom: solid 1px #d6d6d6;
  font-size: 11px;
  line-height: 36px;
  background-color: #f7f7f7;
  color: #8f8f8f;
  text-align: center;
}

.mk-bt-info > i {
  color: #ff8d7c;
  vertical-align: middle;
  font-size: 14px;

}