@main-color: #333;
@main-width: 640px;

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
}

.header-section {
  margin: 0px auto;
  width: 640px;
  height: 62px;
  line-height: 62px;
}

.header-section .header-menu {
  display: inline-block;
  font-size: 20px;
  margin: 0px 12px;
  cursor: pointer;
}

.header-section .header-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header-section .header-title > span {
  font-size: 12px;
}

.mk-member-layer {
  position: fixed;
  top: 0px;
  left: -188px;
  width: 188px;
  height: 100%;
  background: #fcfcfc;
  z-index: 2500;
  overflow: auto;
  font-size: 0px;
}

.mk-member-title {
  margin-bottom: 2px;
  background: #333;
  height: 50px;
  text-indent: 10px;
  line-height: 50px;
  font-size: 14px;
  color: #9a9a9a;
}

.mk-member-title > span {
  font-size: 10px;
}

.mk-member-link {
  padding: 0px 10px;
  margin: 0px;
}

.mk-member-link > li {
  margin: 0px;
  width: 151px;
  height: 63px;
  border-bottom: solid 2px #333;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 63px;
}

.mk-member-link > li:nth-child(n+4) {
  height: 51px;
  font-size: 15px;
  font-weight: normal;
  border-bottom: solid 1px #333;
}

.mk-member-btn-all {
  margin: 40px 10px 0px;
  width: 151px;
  height: 51px;
  border: solid 3px #474747;
  font-size: 15px;
  font-weight: bold;
  color: #4c4c4c;
  text-align: center;
  line-height: 51px;
}

.mk-member-btn-qna {
  margin: 15px 10px 15px;
  width: 151px;
  height: 51px;
  font-size: 15px;
  font-weight: bold;
  background-color: #3d3d3d;
  color: #fff;
  text-align: center;
  line-height: 51px;
}

.mk-member-icon > li {
  display: inline-block;
  text-align: center;
  margin-left: 18px;
  line-height: 33px;
  font-size: 15px;
  width: 33px;
  height: 33px;
  border-radius: 16px;
  background-color: #9a9a9a;
  color: #ffffff;
}

.dark-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-layer {
  z-index: 1000;
}

body {
  position: relative;
  color: @main-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mk-menu {
  margin: 62px auto 0px auto;
  width: @main-width;
  height: 44px;
  border-top: solid 1px #f0f0f0;
}

.mk-menu-items > li {
  display: inline-block;
  width: 50%;
  height: 44px;
  font-size: 15px;
  color: #808080;
  text-align: center;
  cursor: pointer;
}

.mk-menu-items > li:first-child {
  padding-left: 30px;
}

.mk-menu-items > li:last-child {
  padding-right: 30px;
}

.mk-menu-items > li > span {
  display: inline-block; // span은 기본이 inline 라서 높이가 안잡힌다. - inline-block로 바꾸자
  height: 44px;
  padding: 0px 22px;
  line-height: 44px;
}

.mk-menu-items > .active > span {
  border-top: solid 2px #000000;
  font-weight: bold;
  color: #000000;
}

.mk-contents {
  width: @main-width;
  margin: 0px auto;
}

.mk-requires {
  width: @main-width;
  margin: 0px auto;
  padding: 30px 12px 30px 12px;
}

.mk-requires-title-texts {
  font-size: 17px;
  line-height: 19px;
  color: #404040;
}

.mk-requires-title-texts > li:first-child {
  font-weight: bold;
}

.mk-requires-title-texts > li:last-child {
  margin-top: 7px;
  font-size: 14px;
}

.mk-requires-contents {
  margin-top: 19px;
  padding-top: 11px;
  border-top: dashed 1px #808080;
}

.mk-requires-content {
  position: relative;
  margin-top: 15px;
  width: 616px;
  overflow: hidden;
  cursor: pointer;
}

.mk-requires-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.mk-requires-name {
  padding: 19px 80px 19px 13px;
  font-size: 14px;
  font-weight: bold;
}

.mk-requires-like {
  position: absolute;
  top: 11px;
  right: 0px;
  width: 67px;
  border-left: solid 1px #fff;
  font-size: 11px;
  text-align: center;
  line-height: 13px;
  color: #a6a6a6;
}

.mk-requires-like > .fa {
  margin-bottom: 4px;
  font-size: 22px;
  color: #ffffff;
}

.mk-requires-more {
  margin: 39px 0px 10px 0px;
  border-top: solid 2px #4d4d4d;
  border-bottom: solid 2px #4d4d4d;
  font-weight: bold;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
}

.mk-requires-more .fa {
  color: #808080;
}

.mk-qna-items {
  margin: 10px auto 0px auto;
  padding: 15px 12px;
  width: @main-width;
  height: 130px;
  background-color: #454545;
}

.mk-qna-items > li {
  height: 50%;
  font-size: 16px;
  color: #cccccc;
  text-align: center;
  line-height: 51px;
  line-height: 51px;
}

.mk-qna-items > li:first-child {
  border-bottom: solid 1px #383838;
}

.mk-contact {
  margin: 0px auto;
  width: @main-width;
  height: 153px;
  padding: 21px 0px;
  background-color: #3d3d3d;
}

.mk-contact-icon {
  padding-bottom: 4px;
  text-align: center;
}

.mk-contact-icon > li {
  display: inline-block;
  margin-right: 28px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #333333;
  color: #999999;
  font-size: 20px;
  line-height: 40px;
}

.mk-contact-icon > li:last-child {
  margin-right: 0px;
}

.mk-contact-box {
  width: 230px;
  margin: 0 auto;
  padding: 6px 0;
  border: 1px solid #383838;
  background-color: #474747;
}

.mk-contact-copy {
  padding-left: 9px;
  font-size: 11px;
  line-height: 23px;
  color: #616161;
}

.mk-contact-url {
  font-size: 11px;
  padding-left: 9px;
  color: #999;
  line-height: 23px;
}

footer {
  position: relative;
  margin: 0px auto;
  width: 640px;
  height: 63px;
  background-color: #f0f0f0;
}

.footer-font {
  display: inline-block;
  font-size: 12px;
  color: #a6a6a6;
  line-height: 63px;
}

.footer-title {
  margin: 0px 10px;
}

.footer-text {
  float: right;
}

.footer-text li {
  margin: 0px 10px;
  display: inline-block;
}
