@import 'common.less';

.mk-content {
  padding-top: 10px;
  width: 100%;
  background-color: #e8e8e8;
}

.mk-content-img {
  width: 100%;
  cursor: pointer;
}

.mk-content-text {
  position: relative;
  padding: 34px 12px 45px 12px;
  width: 100%;
  background-color: #ffffff;
}

.mk-content-title {
  padding: 0px 85px 14px 0px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.mk-content-body {
  margin-top: 15px;
  font-size: 17px;
  line-height: 29px;
  cursor: pointer;
}

.mk-content-read-more {
  font-size: 12px;
  color: #808080;
  text-decoration: underline;
  vertical-align: top;
  cursor: pointer;
}

.mk-content-like {
  padding-top: 22px;
}

.mk-content-like-items > li {
  display: inline-block;
  height: 35px;
  width: 35px;
  border: solid 1px #e0e0e0;
  line-height: 35px;
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
}

.mk-content-like-items > li:first-child {
  width: auto;
  margin-right: 13px;
  padding: 0 15px;
  border: solid 1px #e0e0e0;
}

.mk-content-like-items > li:last-child {
  color: #e0e0e0;
}

.mk-content-order-cnt {
  position: absolute;
  top: -37px;
  right: 0px;
  width: 75px;
  height: 75px;
  padding-top: 21px;
  background-color: #d5442e;
  border-radius: 37px;
  font-size: 17px;
  line-height: 19px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

