@import 'common.less';

.sub-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 100;
}

.sub-footer section {
  margin: 0px auto;
  width: 640px;
  height: 65px;
}

.sub-footer-like {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  height: 65px;
  background-color: #363333;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  color: #999;
}

.sub-footer-like > .fa {
  margin-top: 14px;
  font-size: 22px;
  color: #ffffff;
}

.sub-footer-order {
  display: inline-block;
  vertical-align: top;
  width: 72%;
  height: 65px;
  background-color: #db4747;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 63px;
  font-weight: bold;
}