@import 'common.less';

.sub-body {
  margin: 0px auto;
  margin-top: 62px;
  padding: 0px 12px;
  width: 640px;
}

#carousel-example-generic {
  margin: 0px -12px;
  text-align: center;
}

.carousel-indicators > li {
  margin: 0px 5px;
  background-color: #999999;
}

.carousel-indicators .active {
  margin: 0px 5px;
  background-color: #333333;
}

.sub-detail {
  position: relative;
  padding-top: 12px;
}

.sub-detail-limit {
  display: inline-block;
  padding: 2px 4px 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background-color: #2e2e2e;
  color: #ea998c;
}

.sub-detail-title {
  padding: 10px 58px 0 0;
}

.sub-detail-price {
  padding-top: 3px;
  padding-bottom: 11px;
  font-weight: bold;
  border-bottom: solid 1px #e6e6e6;
  color: #1a1a1a;
}

.sub-detail-share {
  position: absolute;
  top: 43px;
  right: 0;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  background-color: #e0e0e0;
}

.sub-detail-share .fa {
  margin: 7px 0px 0px 7px;
  font-size: 23px;
  color: #ffffff;
}