@import 'common.less';

#mk-title {
  margin: 5px 0px 10px 10px;
  font-size: 30px;
  color: #299923;
  font-weight: bold;
}

.mk-width-line {
  margin: 0px 2px;
  height: 1px;
  border: solid 1px #60ff6a;
}

.form-group {
  font-size: 15px;
  color: #629961;
}

#mk-imgs-preview {
  display: none;
}





