<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="mk-menu">
    <ul class="mk-menu-items">
        <li class="mk-menu-item-select"><span>NEW</span></li>
        <li><span>BEST</span></li>
    </ul>
</section>
<section class="mk-contents">
    <div class="mk-content">
        <div class="mk-content-img" id="605811">
            <img src="./img/fan.jpg">
        </div>
        <div class="mk-content-text">
            <div class="mk-content-order-cnt">
                128명<br>
                주문중
            </div>
            <div class="mk-content-title">
                더위는 식혀주고, 전기세는 내려주는
            </div>
            <div class="mk-content-body" id="605811">
                때 이른 더위를 맞이하고 보니, 올여름 더위는 대단하겠구나 싶어 걱정이 앞섭니다.
                도저히 에어컨을 포기할 수 없다면, 그 효율을 최고로 올려보세요. 2017 대한민국
                대표브랜드 대상 서큘레이터 수상작 에어로나인은 5cm 더 넓어진 날개로, 빠르고
                강력하게 공기를 순환시켜 순식간에 공간을 식혀드립니다. 전기세 걱정으로 뜨거워진
                머리도 함께 식혀 보세요.<span class="mk-content-read-more">read more</span></div>
            <div class="mk-content-like">
                <ul class="mk-content-like-items">
                    <li>
                        <i class="fa fa-heart-o"></i>
                        982명
                    </li>
                    <li>
                        <i class="fa fa-share"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mk-content">
        <div class="mk-content-img" id="606911">
            <img src="./img/soap.jpg">
        </div>
        <div class="mk-content-text">
            <div class="mk-content-order-cnt">
                758명<br>
                주문중
            </div>
            <div class="mk-content-title">
                매일 수소 토닝한 효과
            </div>
            <div class="mk-content-body" id="606911">
                휘게 올인원 수소 비누는 독자적인 공법을 통해 200ppb 이상의 고농도 수소를 직접
                주입한 참신한 비누입니다. 이게 왜 중요하냐고요? 피부 노화의 주범인 활성산소를
                바로 이 수소가 줄여주기 때문이죠. 아는 사람은 다 안다는 피부과 수소 토닝 시술을
                이제는 매일 세안하는 건강한 뷰티습관으로 대신하세요.<span class="mk-content-read-more">read more</span></div>
            <div class="mk-content-like">
                <ul class="mk-content-like-items">
                    <li>
                        <i class="fa fa-heart-o"></i>
                        1,482명
                    </li>
                    <li>
                        <i class="fa fa-share"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="mk-requires">
    <div class="mk-requires-title">
        <ul class="mk-requires-title-texts">
            <li>
                조기 주문마감 된 제품입니다.
            </li>
            <li>
                ‘좋아요’를 누르시면 추가주문 시작시 톡으로 알려드려요.
            </li>
        </ul>
    </div>
    <div class="mk-requires-contents">
        <div class="mk-requires-content">
            <img src="./img/require.jpg">
            <div class="mk-requires-text">
                <div class="mk-requires-name">
                    가벼운 옷차림의 어울리는 가죽 가방
                    <div class="mk-requires-like">
                        <i class="fa fa-heart"></i><br>
                        좋아요
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mk-requires-more">
        더보기 <i class="fa fa-search"></i>
    </div>
</section>
<section>
    <div>
        <ul class="mk-qna-items">
            <li>
                입점 문의하기
            </li>
            <li>대량구매 문의하기</li>
        </ul>
    </div>
    <div class="mk-contact">
        <ul class="mk-contact-icon">
            <li>
                <i class="fa fa-commenting"></i>
            </li>
            <li>
                <i class="fa fa-tumblr"></i>
            </li>
            <li>
                <i class="fa fa-facebook"></i>
            </li>
        </ul>
        <div class="mk-contact-box">
            <div class="mk-contact-copy">
                URL 복사하기
            </div>
            <div class="mk-contact-url">
                http://makers.kakao.com
            </div>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>