<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="mk-menu">
    <ul class="mk-menu-items">
        <li class="mk-menu-item-select"><span>NEW</span></li>
        <li><span>BEST</span></li>
    </ul>
</section>
<section class="mk-contents">
</section>
<section class="mk-requires">
    <div class="mk-requires-title">
        <ul class="mk-requires-title-texts">
            <li>
                조기 주문마감 된 제품입니다.
            </li>
            <li>
                ‘좋아요’를 누르시면 추가주문 시작시 톡으로 알려드려요.
            </li>
        </ul>
    </div>
    <div class="mk-requires-contents">
        <div class="mk-requires-content">
            <img src="./img/require.jpg">
            <div class="mk-requires-text">
                <div class="mk-requires-name">
                    가벼운 옷차림의 어울리는 가죽 가방
                    <div class="mk-requires-like">
                        <i class="fa fa-heart"></i><br>
                        좋아요
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mk-requires-more">
        더보기 <i class="fa fa-search"></i>
    </div>
</section>
<section>
    <div>
        <ul class="mk-qna-items">
            <li>
                입점 문의하기
            </li>
            <li>대량구매 문의하기</li>
        </ul>
    </div>
    <div class="mk-contact">
        <ul class="mk-contact-icon">
            <li>
                <i class="fa fa-commenting"></i>
            </li>
            <li>
                <i class="fa fa-tumblr"></i>
            </li>
            <li>
                <i class="fa fa-facebook"></i>
            </li>
        </ul>
        <div class="mk-contact-box">
            <div class="mk-contact-copy">
                URL 복사하기
            </div>
            <div class="mk-contact-url">
                http://makers.kakao.com
            </div>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>